body {
    font-family:'Segoe UI';            
}
table, tr, td, th {
    border-collapse:collapse;
    padding:5px;
}
input[type=text],input[type=button] {
    border:1px solid #ccc;
    width:160px;
    height:20px;
    padding:5px;
    font-weight:bold;
}
input[type=button],input[type=submit] {
    width:172px;
    height:38px;
}
a:link, a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:active {
    text-decoration:none;
}
table tr td:first-of-type {
    width:80px;
    text-align:right;
}
table tr td:last-of-type {
    padding-left:10px;
}
